.post {
    background: #212a31;
    padding: 1.2rem;
    color: #fff;
    border-bottom: .1rem solid #1a2127;
}

/** Шапка поста **/
.post > .post_header {
}

.post > .post_header > .post_avatar img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    vertical-align: top;
}

.post > .post_header > .post_user {
    margin-left: 1.2rem;
}

.post > .post_header > .post_user > a, .post_not_user {
    background: #27313a;
    display: inline-flex;
    align-items: center;
    padding: .4rem .8rem;
    border-radius: .2rem;
    margin-bottom: .4rem;
}

.post > .post_header > .post_user > .post_date {
    font-size: 1rem;
}

.post > .post_header > .post_admin {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.post > .post_header > .post_admin a {
    background: #27313a;
    padding: .3rem .6rem;
    border-radius: .2rem;
    margin-left: .1rem;
}

.post > .post_header > .post_admin a:first-child {
    margin-left: 0;
}

.post > .post_header > .post_admin i:before {
    margin-right: 0;
}

/** Сообщение поста **/
.post > .post_message {
    margin-top: 1.2rem;
}

/** Ноги поста **/
.post > .post_footer {
    margin-top: 1.2rem;
    font-size: 1.25rem;
}

.post > .post_footer a {
    background: #27313a;
    padding: .3rem .6rem;
    border-radius: .2rem;
    margin-left: .6rem;
}

.post > .post_footer a:first-child {
    margin-left: 0;
}

.post > .post_footer .post_date_edit {
    border: .2rem solid #2d3840;
    border-radius: .2rem;
    font-size: 1rem;
    padding: .3rem .6rem;
    color: #4d575f;
    margin-left: .1rem;
    font-weight: bold;
}
