.post {
    background: #212a31;
    padding: 1rem;
    color: #fff;
    border-bottom: .1rem solid #1a2127;
}

/** Шапка поста **/
.post > .post_header {
    margin-bottom: 1rem;
}

.post > .post_header > .post_avatar img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    vertical-align: top;
}

.post > .post_header > .post_user {
    margin-left: 1rem;
}

.post > .post_header > .post_user > a, .post_not_user {
    background: #27313a;
    display: inline-flex;
    align-items: center;
    padding: .4rem .8rem;
    border-radius: .2rem;
    margin-bottom: .4rem;
}

.post > .post_header > .post_user > .post_date {
    font-size: 1rem;
}

.post > .post_header > .post_admin {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.post > .post_header > .post_admin a {
    background: #27313a;
    padding: .3rem .6rem;
    border-radius: .2rem;
    margin-left: .1rem;
}

.post > .post_header > .post_admin a:first-child {
    margin-left: 0;
}

.post > .post_header > .post_admin i:before {
    margin-right: 0;
}

/** Сообщение поста **/
.post > .post_message {
    margin-bottom: 1rem;
}

/*
.row > .row_user {
    margin-bottom: 10px;
}

.row > .row_user > .name {
    padding: 2px 0;
    margin-left: 10px;
}

.row > .row_user > .name a, .none_name {
    background: #27313a;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 2px;
    margin-right: 8px;
}

.row > .row_user > .name a:first-child, .none_name {
    background: #1a2127
}

.row > .row_user > .name div {
    font-size: 10px;
    margin-top: 6px
}

.row > .row_user > .postman {
    min-width: 50px
}

.row > .row_user > .postman a {
    background: #27313a;
    padding: 4px 6px;
    border-radius: 2px;
    margin-left: 2px;
}

.row > .row_user > .postman a:first-child {
    margin-left: 0;
}

.row > .row_user > .postman i:before {
    margin-right: 0;
}

.row > .row_user > .avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    vertical-align: top;
}

.row > .message {
    margin-bottom: 10px;
}

.row > .under > .date {
    border: 2px solid #2d3840;
    border-radius: 2px;
    font-size: 10px;
    padding: 2px 8px;
    color: #4d575f;
    margin-left: 10px;
    font-weight: bold;
}

.row > .under > a {
    background: #27313a;
    padding: 4px 10px;
    border-radius: 2px;
    margin-left: 8px;
}
*/
