# Root dir ignores
setur/*

# System dir ignores
nomicms/database_normalaze/*
uploads/downloads/*
uploads/avatars/*
uploads/forum/*
uploads/lib/*

# Other files ignores
nomicms/component/container/definition/ReflectionAction.php
test_smile.txt
