# Root dir ignores
setur/*

# System dir ignores
system/apps/*
system/cache/*
system/system/*

# Website dir ignores
uploads/downloads/*
uploads/avatars/*
uploads/forum/*
uploads/lib/*

# Other files ignores
test_smile.txt
