# Root dir ignores
app/*

# System dir ignores
system/apps/*
system/cache/*
system/system/*

# Website dir ignores
web/files/downloads/*
web/files/avatars/*
web/files/forum/*
web/files/lib/*
web/fontello/*
web/styles/*

# Other files ignores
database/news.txt
web/themes/app.old.css
web/themes/apps.css
web/fontello.zip
