AddDefaultCharset utf-8
DirectoryIndex index.php
Options -Indexes
php_value date.timezone "Europe/Moscow"

<IfModule mod_rewrite.c>
    RewriteEngine On

    #RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    #RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
    #RewriteCond %{HTTPS} !on
    #RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    # Redirect Trailing Slashes If Not A Folder...
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond %{REQUEST_URI} (.+)/$
    #RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ run.php [L]

    RewriteRule ^.get/ - [NC,F,L]
    RewriteRule ^modules/ - [NC,F,L]
    RewriteRule ^system/ - [NC,F,L]
    RewriteRule ^temp/ - [NC,F,L]
</IfModule>

ErrorDocument 400 /error/400
ErrorDocument 401 /error/401
ErrorDocument 402 /error/402
ErrorDocument 403 /error/403
ErrorDocument 404 /error/404
ErrorDocument 500 /error/500
ErrorDocument 502 /error/502
