	#Кодировка#
AddDefaultCharset utf-8
	#Директория#
DirectoryIndex index.php
Options -Indexes
php_value date.timezone "Europe/Moscow"

RewriteEngine On

	#Разные реврайты#
RewriteRule ^login?$ modules/users/src/login.php [L]
RewriteRule ^reg?$ modules/users/src/reg.php [L]
RewriteRule ^online?$ modules/users/src/online.php [L]
RewriteRule ^exit?$ modules/users/src/exit.php [L]
RewriteRule ^restore?$ modules/users/src/restore.php [L]
RewriteRule ^email_manager?$ modules/users/src/email.php [L]

RewriteRule ^news/?$ modules/news/index.php [L]
RewriteRule ^news/comment([0-9]*)/?$ modules/news/src/comment.php?id=$1 [L,QSA]
RewriteRule ^news/comment([0-9]*)/otv([0-9]*)/?$ modules/news/src/comment.php?id=$1&otv=$2 [L,QSA]
RewriteRule ^news/comment([0-9]*)/del([0-9]*)/?$ modules/news/src/comment.php?id=$1&del&cid=$2 [L,QSA]

	#Реврайты для профиль и всё что с ним связаное#
RewriteRule ^chat/?$ modules/chat/src/index.php [L]
RewriteRule ^chat/del([0-9]*)/?$ modules/chat/src/index.php?del=$1 [L,QSA]
RewriteRule ^chat/otv([0-9]*)/?$ modules/chat/src/index.php?otv=$1 [L,QSA]
RewriteRule ^chat/([0-9]*)/?$ modules/chat/src/index.php?ms=$1 [L,QSA]

RewriteRule ^panel?$ modules/users/src/cab.php [L]
RewriteRule ^pages/?$ modules/pages/src/index.php [L]
RewriteRule ^pages/bb_codes?$ modules/pages/src/bb_codes.php [L]
RewriteRule ^pages/smile?$ modules/pages/src/smile.php [L]
RewriteRule ^pages/ads?$ modules/pages/src/ads.php [L]

RewriteRule ^apanel/?$ modules/apanel/src/index.php [L]
RewriteRule ^apanel/uedit([0-9]*)?$ modules/apanel/src/uedit.php?id=$1 [L,QSA]
RewriteRule ^apanel/news?$ modules/apanel/src/news.php [L]
RewriteRule ^apanel/ads?$ modules/apanel/src/ads.php [L]
RewriteRule ^apanel/ads_list?$ modules/apanel/src/ads_list.php [L]
RewriteRule ^apanel/ads_list/del([0-9]*)/?$ modules/apanel/src/ads_list.php?del=$1 [L,QSA]
RewriteRule ^apanel/settings?$ modules/apanel/src/settings.php [L]
RewriteRule ^apanel/news/del([0-9]*)/?$ modules/apanel/src/news.php?del=$1 [L,QSA]
RewriteRule ^apanel/news/edit([0-9]*)/?$ modules/apanel/src/news.php?edit=$1 [L,QSA]
RewriteRule ^apanel/ban_list/del([0-9]*)/?$ modules/apanel/src/ban_list.php?del=$1 [L,QSA]
RewriteRule ^apanel/ban_list/?$ modules/apanel/src/ban_list.php [L]
RewriteRule ^apanel/ban([0-9]*)/?$ modules/apanel/src/ban.php?id=$1 [L,QSA]
RewriteRule ^apanel/admin_chat/?$ modules/apanel/src/chat.php [L]
RewriteRule ^apanel/admin_chat/del([0-9]*)/?$ modules/apanel/src/chat.php?del=$1 [L,QSA]
RewriteRule ^apanel/admin_chat/otv([0-9]*)/?$ modules/apanel/src/chat.php?otv=$1 [L,QSA]
RewriteRule ^apanel/admin_chat/([0-9]*)/?$ modules/apanel/src/chat.php?ms=$1 [L,QSA]
RewriteRule ^apanel/content?$ modules/apanel/src/content.php [L]

RewriteRule ^edit?$ modules/users/src/edit.php [L]
RewriteRule ^ava?$ modules/users/src/ava.php [L]
RewriteRule ^people?$ modules/users/src/people.php [L]
RewriteRule ^journal?$ modules/users/src/journal.php [L]
RewriteRule ^us([0-9]*)/?$ modules/users/src/profile.php?id=$1 [L,QSA]
RewriteRule ^us([0-9]*)/delete([0-9]*)?$ modules/users/src/delete.php?id=$1&delete=$2 [L,QSA]
RewriteRule ^us([0-9]*)/otv([0-9]*)?$ modules/users/src/profile.php?id=$1&otv=$2 [L,QSA]
RewriteRule ^settings?$ modules/users/src/settings.php [L]
RewriteRule ^dialogs/?$ modules/dialogs/src/index.php [L]
RewriteRule ^dialogs/dialogs([0-9]*)/?$ modules/dialogs/src/dialogs.php?id=$1 [L,QSA]

	#Реврайты для форума#
RewriteRule ^forum/?$ modules/forum/src/index.php [L]
RewriteRule ^forum/([0-9]*)/?$ modules/forum/src/forum.php?id=$1 [L,QSA]
RewriteRule ^forum/([0-9]*)/([0-9]*)/?$ modules/forum/src/section.php?idr=$1&id=$2 [L,QSA]
RewriteRule ^forum/([0-9]*)/([0-9]*)/?$ modules/forum/src/section.php?idr=$1&id=$2 [L,QSA]
RewriteRule ^forum/movep([0-9]*)/?$ modules/forum/src/movep.php?id=$1 [L,QSA]
RewriteRule ^forum/topic([0-9]*)/?$ modules/forum/src/topic.php?id=$1 [L,QSA]
RewriteRule ^forum/topic([0-9]*)/quote([0-9]*)?$ modules/forum/src/quote.php?id=$1&quote=$2 [L,QSA]
RewriteRule ^forum/topic([0-9]*)/replay([0-9]*)?$ modules/forum/src/replay.php?id=$1&replay=$2 [L,QSA]
RewriteRule ^forum/topic([0-9]*)/delete([0-9]*)?$ modules/forum/src/delete.php?id=$1&delete=$2 [L,QSA]
RewriteRule ^forum/topic([0-9]*)/edit_post([0-9]*)?$ modules/forum/src/edit_post.php?id=$1&edit_post=$2 [L,QSA]
RewriteRule ^forum/move([0-9]*)/section([0-9]*)/razdel([0-9]*)?$ modules/forum/src/move.php?id=$1&section=$2&razdel=$3 [L,QSA]
RewriteRule ^forum/utopic([0-9]*)/?$ modules/forum/src/uforum.php?topic&id=$1 [L,QSA]
RewriteRule ^forum/uposts([0-9]*)/?$ modules/forum/src/uforum.php?posts&id=$1 [L,QSA]
RewriteRule ^forum/search?$ modules/forum/src/search.php [L]

	#Реврайты для библиотеки#
RewriteRule ^lib/c([0-9]*)/?$ modules/lib/src/category.php?id=$1 [L,QSA]
RewriteRule ^lib/c([0-9]*)/l([0-9]*)/?$ modules/lib/src/look.php?cid=$1&id=$2 [L,QSA]
RewriteRule ^lib/comment([0-9]*)/?$ modules/lib/src/comment.php?id=$1 [L,QSA]
RewriteRule ^lib/?$ modules/lib/src/index.php [L]
RewriteRule ^lib/comment([0-9]*)/otv([0-9]*)/?$ modules/lib/src/comment.php?id=$1&otv=$2 [L,QSA]
RewriteRule ^lib/comment([0-9]*)/del([0-9]*)/?$ modules/lib/src/comment.php?id=$1&del&cid=$2 [L,QSA]

	#Реврайты для загруз-центра#
RewriteRule ^zc/?$ modules/down/src/index.php [L]
RewriteRule ^zc/file([0-9]*)?$ modules/down/src/file.php?id=$1 [L,QSA]
RewriteRule ^zc/comment([0-9]*)?$ modules/down/src/comment.php?id=$1 [L,QSA]
RewriteRule ^zc/comment([0-9]*)/otv([0-9]*)/?$ modules/down/src/comment.php?id=$1&otv=$2 [L,QSA]
RewriteRule ^zc/comment([0-9]*)/del([0-9]*)/?$ modules/downsrc//comment.php?id=$1&del&cid=$2 [L,QSA]
RewriteRule ^zc/cat([0-9]*)/?$ modules/down/src/category.php?id=$1 [L,QSA]
RewriteRule ^zc/cat([0-9]*)/pc([0-9]*)/?$ modules/down/src/section.php?cid=$1&id=$2 [L,QSA]
RewriteRule ^zc/new?$ modules/down/src/index.php?new [L]

	#Реврайты для friends#
RewriteRule ^friends([0-9]*)/?$ modules/friends/src/index.php?id=$1 [L,QSA]
RewriteRule ^friends/add([0-9]*)?$ modules/friends/src/add.php?id=$1 [L,QSA]
RewriteRule ^friends/bid?$ modules/friends/src/bid.php [L]
RewriteRule ^friends/bid_yes([0-9]*)/([0-9]*)/?$ modules/friends/src/bid_yes.php?id=$1&id2=$2 [L,QSA]
RewriteRule ^friends/bid_no([0-9]*)/([0-9]*)/?$ modules/friends/src/bid_no.php?id=$1&id2=$2 [L,QSA]
RewriteRule ^friends/online([0-9]*)/?$ modules/friends/src/online.php?id=$1 [L,QSA]
RewriteRule ^friends/delete([0-9]*)/?$ modules/friends/src/delete.php?id=$1 [L,QSA]

	#Реврайты для blogs#
RewriteRule ^blogs/?$ modules/blogs/src/index.php [L]
RewriteRule ^blogs/add/?$ modules/blogs/src/add.php [L]
RewriteRule ^blogs/view([0-9]*)/?$ modules/blogs/src/view.php?id=$1 [L,QSA]
RewriteRule ^blogs/ublogs([0-9]*)/?$ modules/blogs/src/ublogs.php?id=$1 [L,QSA]
RewriteRule ^blogs/comment([0-9]*)?$ modules/blogs/src/comment.php?id=$1 [L,QSA]
RewriteRule ^blogs/comment([0-9]*)/otv([0-9]*)/?$ modules/blogs/src/comment.php?id=$1&otv=$2 [L,QSA]
RewriteRule ^blogs/comment([0-9]*)/del([0-9]*)/?$ modules/blogs/src/comment.php?id=$1&del&cid=$2 [L,QSA]

	#Реврайт для страниц ошибок / Страницы ошибок#
RewriteRule ^error/([0-9]*)?$ /modules/pages/src/error.php?code=$1 [L,QSA]
ErrorDocument 403 /error/403
ErrorDocument 404 /error/404
