i[class^="emoji-"]:before, i[class*=" emoji-"]:before {
    margin-right: 2px;
    font-size: 20px;
    font-style: normal;
}

.emoji-sad:before { content: '\1F614' } /* Грусть */
.emoji-grin:before { content: '\1F600' } /* Ухмылка */
.emoji-biggrin:before { content: '\1F601' } /* Большая ухмылка */
.emoji-joy:before { content: '\1F602' } /* Радость */
.emoji-joy2:before { content: '\1F605' } /* Радость 2 */
.emoji-joy3:before { content: '\1F606' } /* Радость 3 */
.emoji-horns:before { content: '\1F608' } /* Улыбка, с рогами */
.emoji-wink:before { content: '\1F609' } /* Подмигивать */
.emoji-smile:before { content: '\1F60A' } /* Улыбка */
.emoji-smile2:before { content: '\1F603' } /* Улыбка 2 */
.emoji-smile3:before { content: '\1F604' } /* Улыбка 3 */
.emoji-smile-angel:before { content: '\1F607' } /* Ангел */
.emoji-yum:before { content: '\1F60B' } /* Ням, ням */
.emoji-relax:before { content: '\1F60C' } /* Расслабленный */
.emoji-love:before { content: '\1F60D' } /* Влюблен */
.emoji-glass:before { content: '\1F60E' } /* В очках */
.emoji-yeah:before { content: '\1F60F' } /* Мда */
.emoji-neutral:before { content: '\1F610' } /* Нетральный */
.emoji-nothing:before { content: '\1F611' } /* Ничего */
.emoji-disc:before { content: '\1F612' } /* Недоволен */
.emoji-cold:before { content: '\1F613' } /* Радость */
.emoji-pensive:before { content: '\1F614' } /* Задумчевый */
.emoji-сonfused:before { content: '\1F615' } /* Смущённый */
.emoji-shame:before { content: '\1F616' } /* Стыд */
.emoji-kiss:before { content: '\1F617' } /* Поцелуй */
.emoji-kiss2:before { content: '\1F618' } /* Поцелуй 2 */
.emoji-kiss3:before { content: '\1F619' } /* Поцелуй 3 */
.emoji-kiss4:before { content: '\1F61A' } /* Поцелуй 4 */
.emoji-tab:before { content: '\1F61B' } /* Язык */
.emoji-virus:before { content: '\1F9A0' } /* Вирус */
.emoji-fire:before { content: '\1F525' } /* Огонь */
.emoji-sssr:before { content: '\262D' } /* СССР */
