.s18 {
    font-size: 18px;
}
.s20 {
    font-size: 20px;
}

.s2x {
 	font-size: 30px;
}

.s3x {
 	font-size: 45px;
}

.s4x {
 	font-size: 6px;
}

.c-blue {
	color: #2980b9;
}

.c-white {
    color: #ffffff;
}

.c-gray {
	color: #C4C4C4;
}

.c-red {
    color: #c74242;
}

.c-green {
    color: #42c765;
}

.c-news {
    color: #c79b42;
}
