.s18 {
    font-size: 1.8rem;
}
.s20 {
    font-size: 2rem;
}

.s2x {
 	font-size: 3rem;
}

.s3x {
 	font-size: 4.5rem;
}

.s4x {
 	font-size: 6rem;
}

.c-blue {
	color: #2980b9;
}

.c-white {
    color: #ffffff;
}

.c-gray {
	color: #C4C4C4;
}

.c-red {
    color: #c74242;
}

.c-green {
    color: #42c765;
}

.c-news {
    color: #c79b42;
}
