/*
    The authors style
    Photon - http://nomicms.ru/us379
    Tosyk - http://nomicms.ru/us1
*/
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600");

html { font-size: 62.5% }
body {
    background-color: #070E14;
    min-height: 100vh;
    margin: 0 auto;
    line-height: 1.5;
	font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
	font-weight: 300;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #fff;
}

.header {
    background-color: #2980b9;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    max-width: inherit;
    line-height: 6rem;
    z-index: 11;
    overflow: hidden;
    color: #fff;
    border-bottom: .5rem solid #215e86;
}

.header .brand {
    display: block;
    padding-top: .3rem;
    overflow: hidden;
    text-align: center;
}

.header .brand img {
    vertical-align: top;
    height: 5rem
}

.header > .toggle {
    background: none;
    position: relative;
    padding: .5rem 2.25rem;
    cursor: pointer;
    transition: .5s .3s;
}

.header > .toggle.active {
    background-color: rgba(0, 0, 0, .16);
}

.header > .toggle::before, .header > .toggle::after {
    background-color: #fff;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: .2rem;
    width: 2rem;
    border-radius: .2rem;
    box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .3);
    transform: translate(-50%,-50%) rotate(0);
    transition:.4s .1s ease-out;
}

.header > .toggle::before {
    margin-top: -.3rem;
}

.header > .toggle::after {
    margin-top: .5rem;
}

.header > .toggle.active::before {
    width: 2.5rem;
    margin-top: 0;
    box-shadow: -.1rem -.1rem .2rem rgba(0, 0, 0, .3);
    transform: translate(-50%,-50%) rotate(-225deg);
}

.header > .toggle.active::after {
    width: 2.5rem;
    margin-top: 0;
    box-shadow: -.1rem -.1rem .2rem rgba(0, 0, 0, .3);
    transform: translate(-50%,-50%) rotate(225deg);
}

.header .navbar {
    display: flex;
    justify-content: flex-end;
}

.header .navbar_ul {
}

.navbar > .navbar_ul a {
    padding: 0 1.6rem;
    font-size: 1.8rem;
    display: block;
    transition: all .2s;
}

.navbar > .navbar_ul a:hover {
    background-color: rgba(0, 0, 0, .16);
}

.navbar > .navbar_ul a:active {
    background-color: rgba(0, 0, 0, .16);
}

/*----- Основной контент -----*/
.content {
    /* background-color: #161b1f;*/
    margin: 6rem 0 auto;
    width: 100%;
}

.sidebar {
    background-color: #212A31;
    position: sticky;
    top: 6rem;
    left: 0;
    bottom: 0;
    width: 25rem;
    min-height: calc(100vh - 13rem);
    /* z-index: 10;*/
    /* overflow-x: hidden;*/
    box-shadow: .6rem 0rem 1.2rem rgba(0, 0, 0, .33);
}

.sidebar > .sidebar_nav {
    overflow-x: hidden;
}

.sidebar_nav > .sidebar_menu {
    background-color: #212A31;
    border-bottom: .1rem solid #2F3C46;
}

.sidebar_menu li.title {
    font-weight: 600;
    display: block;
    padding: 1.5rem 2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #F0CD3E;
}

.sidebar_menu li {
    border-top: .1rem solid #2F3C46;
    border-bottom: .1rem solid #141A1E;
}

.sidebar_menu li:first-child{
    border-bottom: .1rem solid #141A1E;
}

.sidebar_menu li:last-child {
    border-bottom: .1rem solid #141A1E;
}

.sidebar_menu a.link, a.active {
	padding: 1.5rem 2rem;
	display: flex;
    justify-content: space-between;
    align-items: baseline;
    transition: all .3s;
}

.sidebar_menu a.active {
	background: rgb(172, 219, 255, .05);
}

.sidebar_menu a.link:hover {
    background: rgb(172, 219, 255, .05);
}

.sidebar_menu .link span.title, .active span.title {
	flex-grow: 1;
}

.sidebar_menu .link span.count {
    background-color: #161B1F;
    padding: .2rem .5rem;
	font-size: 1.2rem;
    border-radius: .3rem;
}

.sidebar_menu .link span.new {
	background-color: #4CAF50;
    margin-left: .5rem;
	padding: 0 .3rem;
    color: #fff;
    font-size: 1.2rem;
    border-radius: .3rem;
}

.sidebar_bottom {
    display: flex;
    padding: 1.5rem 2rem;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: .1rem solid #141A1E;
}

.sidebar_bottom a {
    transition: background 3s;
}

.sidebar_bottom a:hover {
    background: rgb(172, 219, 255, .05);
}

.main {
    /* background-color: rgba(255, 255, 255, .01);*/
    background-color: #161b1f;
    width: calc(100% - 25rem);
    /* margin-left: 25rem;*/
    padding: 0 1.2rem;
    color: #fff;
}

.title {
  color: #9ba1a8;
  /*color: #4e5257;*/
  padding: .6rem 1.2rem;
  font-size: 1.5rem;
}

.title h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.title i.icon-home {
    color: #4CAF50;
}

.title > a {
  color: #70757b;
  transition: color .2s;
}

.title > a:hover {
  color: #8b9097;
}

.title > span > a {
  background: #1b2329;
  margin-left: 10px;
  border-radius: 2px;
}

.rows {
    background-color: #212a31;
    border-radius: 0 .5rem .5rem 0;
    /*padding: 1.2rem 0;*/
}

.rows > div.red {
    border-left: 3px solid #f44336;
    padding: 1.2rem;
    font-size: 1.4rem;
    word-break: break-word;

}

.rows .red > div.title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.rows .title > span.name {
    flex-grow: 1;
}

.rows .title > span.count {
    background-color: #161B1F;
    padding: .2rem .5rem;
    color: #999999;
    font-size: 1rem;
    border-radius: .3rem;
}

.rows .msg {
    border-bottom: 1px solid #f44336;
}

/*----- Footer -----*/
.footer {
    background: #161B1F;
    width: 100%;
    padding: 1.2rem 1.5rem;
    color: #61696E;
    border-top: .1rem solid #37434D;
}

.footer .links {
}

.footer .links a {
    color: #B5C4CD;
    margin-right: 1.2rem;
}

.footer .links a:first-child {
    margin-right: 0;
}

.footer .copy {
    text-align: right;
    color: #61696E;
}

.footer .copy a {
    color: #B5C4CD;
}

/* ------- media ------- */
@media only screen and (min-width: 992px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (min-width: 768px) {
    .header > .toggle {
        display: none
    }

    .header > .brand {
        background-color: rgba(0, 0, 0, .1);
        width: 25rem;
    }

    .header > .navbar {
        /* width: calc(100% - 25rem);*/
    }

    .content > .main {
        width: calc(100% - 25rem);
    }
}

@media only screen and (max-width: 767.9px) {
    .sidebar_true .toggle {
        background-color: #2980b9
    }

    .sidebar_true .sidebar {
        transform: translate3d(0, 0, 0);
    }

    .sidebar_true .main {
        transform: translate3d(25rem, 0, 0);
        overflow-x: hidden;
    }

    .header > .brand {
        display: none;
    }


    .header > a.toggle {

    }

    .sidebar {
        position: fixed;
        transform: translate3d(-25rem, 0, 0);
        height: calc(100% - 25rem);
        transition: all .5s;
    }

    .main {
        width: 100%;
        transition: all .5s;
    }
}
