@font-face {
	font-family: 'DIN Pro';
	src: url('DINPro.eot');
	src: local('DIN Pro'), local('DINPro'),
		url('DINPro.eot?#iefix') format('embedded-opentype'),
		url('DINPro.woff') format('woff'),
		url('DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
