/*
    The authors style
    Photon - https://nomicms.ru/user/379
    Tosyk - https://nomicms.ru/user/1
*/

.app {
    max-width: 490px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1201px) {
}
