/* http://nomicms.ru 2021*/
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600");

@charset "UTF-8";

:root {
    --body_bg_color: #212A31;
    --body_text_color: #ACDBFF;
}

html {
    font-size: 62.5%
}

body {
    background: var(--body_bg_color);
    display: table;
    width: 100%;
    height: 100vh;
    align-content: center;
    margin: 0;
    line-height: normal;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    color: var(--body_text_color);
}

a {
    color: #2980B9;
    text-decoration:none
}
a:hover{text-decoration:underline}

.app {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
}

.app-404{
    font-size: 10em;
    font-weight: bold;
    text-shadow: .1rem .2rem .3rem rgba(0, 0, 0, .33);
    animation: shadow 4s infinite ease-in-out;
}

.app-error p {
    margin: 5px 0;
    font-size: 1.5em;
}

.app-error a{
    color: #fff;
}

@keyframes shadow {
from {
    color: #000000;
    text-shadow: .1rem .2rem .3rem rgba(0, 0, 0, .33);
}
25% {
    color: #fff;
    text-shadow: .1rem .6rem .9rem rgba(0, 0, 0, .33);
}
75% {
    color: #fff;
    text-shadow: .1rem .6rem .9rem rgba(0, 0, 0, .33);
}
to {
    color: #000000;
    text-shadow: .1rem .2rem .3rem rgba(0, 0, 0, .33);
}
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 1.5em;
    }
    .app-error p {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1.2em;
    }
    .app-error p {
        font-size: 0.9em;
    }
}
